{% extends "hospi/layout.html" %}

{% block body %}
<style type="text/css">
	body,#ss{
		background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	}
</style>

    <h2>Appointment </h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
 <form action="{% url 'apsub' re %}" method="POST">
 	    <div class="form-group">
            <input class="form-control" type="text" name="pat" placeholder="Patient name">
        </div>
            <div class="form-group">
            <input class="form-control" type="text" name="age" placeholder="Age">
        </div>
            <div class="form-group">
            <textarea class="form-control" type="text" name="prob" placeholder="Your problem" rows="3" cols="10" ></textarea>
        </div>
          </div>
            <div class="form-group">
            <input class="form-control" type="date" name="dt" placeholder="Appointment date">
        </div>
            
             <input class="btn btn-primary" type="submit" value="Submit">
 </form>
 {% endblock %}